<html lang="en" class="mdl-js">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Resume of {{basics.name}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resume of {{basics.name}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    {{#themeOptions.material-primary-color }}
        {{#themeOptions }} 
          <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.{{& material-primary-color }}-{{& material-sec-color }}.min.css">
        {{/themeOptions }}
    {{/themeOptions.material-primary-color }}
    {{^themeOptions.material-primary-color }}
      <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.blue_grey-orange.min.css">
    {{/themeOptions.material-primary-color }}
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style type="text/css">
            {{{css}}}
    </style>
    <style type="text/css" media="print">
            {{{printcss}}}
    </style>
</head>

<body class="mdl-resume mdl-color--grey-100 mdl-color-text--grey-700 mdl-base" cz-shortcut-listen="true">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
        <header class="mdl-layout__header mdl-layout__header--waterfall mdl-cell--hide-desktop">
           
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">{{basics.name}}<p>{{basics.label}}</p></span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                {{#basics.email}}
                <div class="mdl-cell--hide-phone">
                    <div class="title back-blue"><i class="fa fa-envelope"></i>&nbsp;<a class="" href="mailto:{{basics.email}}" target="_blank">{{basics.email}}</a>
                    </div>
                </div>
                {{/basics.email}} {{#basics.phone}}
                <div class="mdl-cell--hide-phone">
                    <a href="tel:{{& basics.phone }}" class="title back-blue"><i class="fa fa-phone fa-fw"></i>&nbsp;{{basics.phone}}</a>

                </div>
                {{/basics.phone}}


            </div>
            <div class="mdl-layout__header-row mdl-shadow--4dp mdl-cell--hide-desktop back-blue">
                <!-- Navigation -->
                <nav class="mdl-navigation sub-nav">
                    <a href="#work" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
  <i id="work-btn" class="material-icons">work</i>
<span class="mdl-button__ripple-container "><span class="mdl-ripple"></span></span>
    </a>
                    <a href="#education-card" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
  <i id="education-btn" class="material-icons">account_balance</i>
<span class="mdl-button__ripple-container "><span class="mdl-ripple"></span></span>
    </a>
    <a id="ttPhone" href="tel:{{& basics.phone }}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
  <i id="call-btn" class="material-icons">call</i>
<span class="mdl-button__ripple-container "><span class="mdl-ripple"></span></span>
    </a>
    <div class="mdl-tooltip mdl-tooltip--large" for="ttCall">Call</div>
    <a href="mailto:{{basics.email}}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
  <i id="call-btn" class="material-icons">email</i>
<span class="mdl-button__ripple-container "><span class="mdl-ripple"></span></span>
    </a>
    <a href="javascript:window.print()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" data-upgraded=",MaterialButton,MaterialRipple">
  <i id="print-btn" class="material-icons">print</i>
<span class="mdl-button__ripple-container "><span class="mdl-ripple"></span></span>
    </a>
  </nav>
    
  </div>
 
    </header>
    
    <div class="mdl-layout__drawer mdl-color--blue-grey-800 mdl-color-text--grey-100">
        <span class="mdl-layout-title ">{{basics.name}}<p>{{basics.label}}</p></span>
        <div class="section__circle-container ">
            <div class="section__circle-container__circle" style="background-image: url({{basics.picture}}); margin: 0 0 5px 5px;">
            </div>
        </div>
        <nav class="mdl-navigation mdl-color--blue-grey-800 ">
            <!-- CONTACT -->
            <div class="resume-card contact-card mdl-card__supporting-text mdl-card mdl-shadow--2dp back-blue ">
                <div class="mdl-card__title mdl-card--border pad marg-bot "><span><i class="fa fa-bullseye"></i>&nbsp;&nbsp;Contact</span></div>
                {{#basics.location}}
                    <div class="contact-item ">
                        <div class="icon pull-left text-center "><span class="fa fa-map-marker fa-fw "></span>&nbsp;&nbsp;</div>
                        <div class="description ">{{basics.location.city}},{{basics.location.region}}{{#basics.location.countryCode}} {{basics.location.countryCode}}{{/basics.location.countryCode}}</div>
                    </div>
                {{/basics.location}}
                {{#basics.phone}}
                    <div class="contact-item ">
                        <div class="only "><i class="fa fa-phone fa-fw "></i>&nbsp;&nbsp;<a href="tel:{{& basics.phone }} ">{{basics.phone}}</a>
                        </div>
                    </div>
                {{/basics.phone}}
                {{#basics.email}}
                    <div class="contact-item ">
                        <div class="icon pull-left text-center "><span class="fa fa-envelope fa-fw "></span>&nbsp;&nbsp;</div>
                        <div class="only "><a class=" " href="mailto:{{basics.email}} " target="_blank ">{{basics.email}}</a></div>
                    </div>
                {{/basics.email}}
                {{#basics.website}}
                    <div class="contact-item ">
                        <div class="icon pull-left text-center "><span class="fa fa-globe fa-fw "></span>&nbsp;&nbsp;</div>
                        <div class="title only "><a href="{{basics.website}} " target="_blank ">{{basics.website}}</a></div>
                    </div>
                {{/basics.website}}
                {{#basics.profiles}}
                    <div class="contact-item ">
                        <div class="icon pull-left text-center "><span class="{{iconClass}} fa-fw "></span>&nbsp;&nbsp;</div>
                        <div class="description"><a class=" " href="{{url}} " target="_blank ">{{#username}}{{username}}{{/username}}{{^username}}{{url}}{{/username}}</a></div>
                    </div>
                {{/basics.profiles}}
            </div>
            <a class="mdl-navigation__link " href="#work"><i id="work-btn" class="material-icons resume-icon">work</i>Work Experience</a>
            <a class="mdl-navigation__link " href="#education-card"><i class="material-icons resume-icon">account_balance</i>Education</a>
            <a class="mdl-navigation__link " href="#skills"><i class="material-icons resume-icon">list</i>Skills</a>
        </nav>
    </div>
    <main class="mdl-layout__content ">
        
        <div class="mdl-grid resume ">
            <div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--12-col-tablet ">
                {{#basics.summary}}
                    <!-- ABOUT ME -->
                    <article class="resume-card mdl-card__supporting-text mdl-card mdl-shadow--2dp ">
                        <div class="mdl-card__title mdl-card--border ">
                            <h4 class="mdl-card__title-text "><i class="fa fa-user ico "></i>&nbsp;&nbsp;About</h4>
                        </div>
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon " id="btn1 " data-upgraded=",MaterialButton,MaterialRipple ">
              <i class="material-icons ">more_vert</i>
            <span class="mdl-button__ripple-container "><span class="mdl-ripple is-animating " style="width: 92.5097px; height: 92.5097px; transform: translate(-50%, -50%) translate(13px, 19px); "></span></span></button>
                        <p class="pad ">{{basics.summary}}</p>
                    </article>
                    
                {{/basics.summary}}
                <!-- WORK EXPERIENCE -->

                <div id="work" class="resume-card mdl-card__supporting-text mdl-card mdl-shadow--2dp ">
                    <div class="mdl-card__title mdl-card--border ">
                        <h4 class="mdl-card__title-text "><i class="fa fa-suitcase ico "></i>&nbsp;&nbsp;Work Experience</h4>
                        <p class="mdl-card__title-text experienceYears "><i class="fa fa-clock-o "></i>&nbsp;{{inYears}}&nbsp;Years</p>
                    </div>
                    {{#work}}
                    <div class="job mdl-card mdl-shadow--4dp ">

                        <div class="details mdl-cell mdl-cell--12-col ">
                            <div class="where ">{{company}}</div>
                            {{#website}}
                                <div class="address ">
                                    <a href="{{website}} " target= "_blank ">{{website}}</a>
                                </div>
                            {{/website}}
                            <div class="year">{{startDateMonth}}{{startDateYear}} – {{endDateMonth}}{{endDateYear}}</div>
                            <div class="profession">{{position}}</div>
                        </div>


                        <div class="mdl-card__actions mdl-grid mdl-grid--no-spacing ">
                            <div class="description ">
                                {{{summary}}}
                                
                                <div class="highlights-wrap ">
                                    {{#highlights}}
                                        <div class="highlight section__text mdl-cell mdl-cell--12-col-tablet mdl-cell--12-col-desktop ">{{{.}}}</div>
                                    {{/highlights}}
                                </div>

                                
                            </div>

                        </div>
                    </div>
                    {{/work}}
                </div>
                <!-- REFERENCES -->
                    {{#references.length}}
                      <div id="references" class="resume-card mdl-card__supporting-text mdl-card ">
                          <div class="mdl-card__title mdl-card--border ">
                              <h4><i class="fa fa-check-square ico "></i> References</h4>
                          </div>
                          {{#references}}
                              <blockquote>
                                  <div>{{{reference}}}</div>
                                  <footer>
                                      <a href="{{website}} " target="_blank ">{{name}}</a>
                                  </footer>
                              </blockquote>
                              <br>
                          {{/references}}
                      </div>
                    {{/references.length}}
                

            </div>
            <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-tablet">
                <!-- EDUCATION -->

                    <div id="education-card" class="resume-card mdl-card mdl-shadow--2dp ">
                        <div class="mdl-card__title mdl-card--border ">
                            <h4 class="mdl-card__title-text "><i class="fa fa-university ico "></i>&nbsp;&nbsp;Education</h4>
                        </div>
                        <ul id="education">
                            {{#education}}
                            <li>
                                <div class="year pull-left ">{{startDateYear}} {{endDateYear}}</div>
                                <div class="description ">
                                    <h3>{{institution}}</h3>
                                    {{#studyType}}<p><i class= "fa fa-graduation-cap ico "></i> {{studyType}}</p>{{/studyType}}
                                    <p>{{area}}</p>
                                    {{#gpa}}
                                        <p>
                                            GPA: {{gpa}}
                                        </p>
                                    {{/gpa}}
                                    {{#educationCourses}}
                                        <div>Courses</div>
                                        <ul class="list-group ">
                                            {{#courses}}
                                                <li class="list-group-item ">{{{.}}}</li>
                                            {{/courses}}
                                        </ul>
                                    {{/educationCourses}}
                                </div>
                            </li>
                            {{/education}}
                        </ul>
                    </div>

                
                    <!-- SKILLS -->
                    <div id="skills" class="resume-card mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--border ">
                            <h4 class="mdl-card__title-text "><i class="fa fa-tasks ico"></i>&nbsp;&nbsp;Skills</h4>
                        </div>
                        {{#skills}}
                            <div class="skills pad-no-bottom ">
                                <div class="item-skills ">
                                    {{name}}
                                    {{#level}}<span class="skill-level ">{{level}}</span>{{/level}}
                                </div>
                                <div class=" ">
                                    {{#keywords}}
                                        <span class="skill badge">{{{.}}}</span>
                                    {{/keywords}}
                                </div>
                            </div>
                        {{/skills}}
                    </div>
                
                
                    <!-- INTERESTS -->
                    <div id="interests " class="resume-card mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--border ">
                            <h4 class="mdl-card__title-text "><i class="fa fa-code ico"></i>&nbsp;&nbsp;Interests</h4>
                        </div>
                        {{#interests}}
                            <div class="interests pad-no-bottom ">
                                <div class="item-interests ">
                                    {{name}}
                                </div>
                                <div class=" ">
                                    {{#keywords}}
                                        <span class="interest badge ">{{{.}}}</span>
                                    {{/keywords}}
                                </div>
                            </div>
                        {{/interests}}
                    </div>
                
                    
            </div>
        </div>
    </main>
</div>
</body>
</html>